{% extends 'base.html.twig' %}
{% from 'theme/macro.html.twig' import backlink, form_modal, form_buttons %}

{% set isEditMode = game.id is not null %}
{% set title = isEditMode ? 'game.edit.title.update'|trans({ '{name}': game.name }) : 'game.edit.title.add'|trans %}

{% block main %}
  {# Modal to confirm delete, if in EDIT mode #}
  {% if isEditMode %}
    {{ form_modal('game.edit.modalDeleteBody'|trans({ '{name}': game.name }), path('game_delete', { id: game.id, backpath: app.request.query.get('backpath') })) }}
  {% endif %}

  {# Actual content with flashes and form #}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          {# Insert the flashes in the same col size as the form #}
          {{ block('flash', 'theme/flash.html.twig') }}

          {# Back link #}
          {{ backlink(path('game_index')) }}

          {# Form start #}
          {{ form_start(form) }}

          <div class="row" {{ stimulus_controller('steam-search', { url: path(app.current_route, { id: game.id }), lazy: false }) }}>
            {# Field to write the steam ID and press the search button #}
            <div class="col app-form-row">
              {{ form_label(form.steamId, 'game.label.steamId') }}
              {{ form_help(form.steamId, { help_html: true, help: 'game.help.steamId' }) }}
              <div class="input-group app-ts-rounded-start">
                {% set autocomplete = prepare_autocomplete('steam_autocomplete') %}
                {{ form_widget(form.steamId, { attr: { 'data-steam-search-target': 'input' }|merge(autocomplete) }) }}
                <button data-steam-search-target="button" class="btn btn-outline-secondary" aria-label="{{ 'form.button.search'|trans }}">
                  <span data-steam-search-target="remove" class="bi bi-steam" aria-hidden="true"></span>
                  <span data-steam-search-target="spinner" aria-hidden="true"></span>
                  <span class="ms-1">{{ 'form.button.search'|trans }}</span>
                </button>
              </div>
              {{ form_errors(form.steamId) }}
            </div>
          </div>

          {# Fields name and releaseYear next to each other on large screen #}
          {{ form_row(form.name, { label: 'game.label.name' }) }}
          <div class="row">
            <div class="col">
              {{ form_row(form.typeGame, { label: 'game.label.typeGame', label_attr: { class: '' } }) }}
            </div>
            <div class="col">
              {{ form_row(form.releaseYear, { label: 'game.label.releaseYear' }) }}
            </div>
          </div>

          {# Radio button to choose the type of price, and the price input field, next to each other on large screen #}
          <div class="row align-items-end" {{ stimulus_controller('type-price') }}>
            <div class="col-12 col-md-auto pe-md-0">
              {{
                form_row(
                  form.typePrice,
                  { attr: { 'data-type-price-target': 'choices' }, label: 'game.label.fullPrice', label_attr: { class: 'radio-inline', id: 'fullPriceLabel' } },
                )
              }}
            </div>
            <div class="col-12 col-md ps-md-0">
              {{ form_row(form.fullPrice, { label: false, attr: { 'data-type-price-target': 'input', 'aria-labelledby': 'fullPriceLabel' } }) }}
            </div>
          </div>

          {# All other fields fill the entire col #}
          {{ form_row(form.developers, { label: 'game.label.developers', help: 'game.help.commaSeparated' }) }}
          {{ form_row(form.genres, { label: 'game.label.genres', help: 'game.help.commaSeparated' }) }}
          {{ form_row(form.description, { label: 'game.label.description' }) }}
          {{ form_row(form.imgUrl, { label: 'game.label.imgUrl' }) }}

          {# Buttons to submit, or open the delete modal #}
          {{ form_buttons(form, isEditMode) }}
          {{ form_rest(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
