{% extends 'base.html.twig' %}

{% from 'theme/macro.html.twig' import path_with_query_param %}

{% set title = 'game.index.title'|trans %}
{% set displayedSortsKeys = ['name', 'avgRating', 'totHourSpend', 'minFirstPlay'] %}
{% set displayedFiltersKeys = ['users'] %}

{% block main %}
  <section>
    <div class="container">
      {# Redefine the flashes with the same width as the cards #}
      <div class="mx-auto card-max-auto card-max-md-none">
        {{ block('flash', 'theme/flash.html.twig') }}
      </div>

      {# Button to add a new game #}
      <div class="mx-auto card-max-auto card-max-md-none pb-3">
        <a href="{{ path('game_new') }}" class="btn btn-primary" data-turbo-frame="_top" aria-lebel="{{ 'game.index.button.addGame'|trans }}">
          <span class="bi bi-plus-square-fill me-md-1" aria-hidden="true"></span>
          <span class="d-none d-md-inline">{{ 'game.index.button.addGame'|trans }}</span>
        </a>
      </div>

      {# Turboframe to refresh only the main section when sorting the results #}
      <turbo-frame id="main-section">
        {# Before the first card : fields to sort and fields to filter #}
        <div class="card-max-auto card-max-md-none mx-auto">
          <div class="d-flex flex-wrap align-items-end justify-content-between gap-2">
            {# Fields to sort : prepare variables + independant buttons (large screen) or select (small screen) for each possibility + asc/desc button #}
            <div class="flex-md-fill">
              {# prepare variables #}
              {% set direction_way = queryParam.sorts|first %}
              {% set direction_url =
                path_with_query_param(queryParam|query_param_clone_with('sorts', { (queryParam.sorts|keys|first): direction_way == 'asc' ? 'desc' : 'asc' }))
              %}
              {% set sorts = [] %}
              {% for sortKey in displayedSortsKeys %}
                {% set sort = {
                  key: sortKey,
                  url: path_with_query_param(queryParam|query_param_clone_with('sorts', { (sortKey): queryParam.sorts|first })),
                  active: (queryParam.sorts|keys|first) == sortKey,
                  label: ('game.index.sort.' ~ sortKey)|trans,
                } %}
                {% set sorts = sorts|merge([sort]) %}
              {% endfor %}
              <div class="input-group" role="group" aria-labelledby="input-group-sorts">
                <label class="input-group-text" id="input-group-sorts">{{ 'form.button.sortBy'|trans }}</label>
                {# independant buttons (large screen) #}
                {% for sort in sorts %}
                  <a href="{{ sort.url }}" class="btn btn-outline-secondary app-btn-border-light d-none d-md-block {{ sort.active ? 'active' }}" data-turbo-prefetch="false">
                    {{ sort.label }}
                  </a>
                {% endfor %}
                {# select (small screen) #}
                <select class="form-select d-md-none" {{ stimulus_controller('sort-select') }}>
                  {% for sort in sorts %}
                    <option value="{{ sort.url }}" {{ sort.active ? 'selected="selected"' }}>
                      {{ sort.label }}
                    </option>
                  {% endfor %}
                </select>
                {# asc/desc button #}
                <a href="{{ direction_url }}"
                  class="btn btn-outline-secondary app-btn-border-light"
                  aria-label="{{ ('aria.order.' ~ direction_way)|trans }}"
                  data-turbo-prefetch="false">
                  <span class="bi bi-arrow-{{ direction_way == 'asc' ? 'up' : 'down' }}" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            {# Fields to filter : dropdown with checkboxes for all possibilities and apply button #}
            <div>
              <div class="input-group" role="group" aria-labelledby="input-group-filters">
                <label class="input-group-text" id="input-group-filters">{{ 'form.button.filterBy'|trans }}</label>
                {% for filterKey in displayedFiltersKeys %}
                  {% set filterId = 'input-group-filters-' ~ filterKey %}
                  <button type="button"
                    class="btn btn-outline-secondary app-btn-border-light dropdown-toggle app-dropdown-left app-dropdown-smooth"
                    data-bs-toggle="dropdown"
                    data-bs-target="#{{ filterId }}"
                    data-bs-auto-close="outside"
                    aria-expanded="false"
                    aria-haspopup="true">
                    {{ ('game.index.filter.' ~ filterKey)|trans }}
                  </button>
                  {% set url = path_with_query_param(queryParam|query_param_clone_with('filters', queryParam.filters|filter((value, key) => key != filterKey)), true) %}
                  <div id="{{ filterId }}" class="dropdown-menu dropdown-menu-end" {{ stimulus_controller('filter-apply', { url: url, key: filterKey }) }}>
                    {% if filterKey == 'users' %}
                      <ul class="p-0 m-0">
                        {% for user in users|sort((a, b) => a.username <=> b.username) %}
                          <li class="dropdown-item">
                            {% set checked = queryParam.filters.users is not defined or user.id in queryParam.filters.users ? 'checked' : '' %}
                            {% set filterUserId = filterId ~ '-' ~ user.id %}
                            <input class="form-check-input" type="checkbox" value="{{ user.id }}" id="{{ filterUserId }}" {{ checked }} data-filter-apply-target="checkbox" />
                            <label class="form-check-label w-100" for="{{ filterUserId }}">
                              <img src="{{ user.avatarPath|hub_url_generate_root }}"
                                class="rounded-circle img-fluid app-avatar-card"
                                alt="{{ 'aria.avatar'|trans({ name: user.username }) }}" />
                              <span class="ms-1">{{ user.username }}</span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <div class="dropdown-item text-center">
                      <button class="btn btn-outline-secondary" data-filter-apply-target="button">{{ 'form.button.apply'|trans }}</button>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div>
              {% set reinit_url = path_with_query_param(queryParam|query_param_clone_reset) %}
              <a href="{{ reinit_url }}" class="btn btn-outline-secondary app-btn-border-light" aria-label="{{ 'form.button.reset'|trans }}">
                <span class="bi bi-arrow-counterclockwise" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>

        {# Include the template to render the card of each game + show more button #}
        {{ include('game/list.html.twig') }}
      </turbo-frame>
    </div>
  </section>
{% endblock %}
