{% extends 'base.html.twig' %}

{%- macro get_path(queryParam) -%}
  {{ path('game_index', queryParam|query_param_to_array)|raw }}
{%- endmacro -%}

{% set title = 'game.index.title'|trans %}
{% set displayedSortsKeys = ['name', 'avgRating', 'totHourSpend', 'minFirstPlay'] %}
{% set displayedFiltersKeys = ['users'] %}

{% block main %}
  <section>
    <div class="container">
      {# Redefine the flashes with the same width as the cards #}
      <div class="mx-auto card-max-auto card-max-md-none">
        {{ block('flash', 'theme/flash.html.twig') }}
      </div>

      {# Button to add a new game #}
      <div class="mx-auto card-max-auto card-max-md-none pb-3">
        <a href="{{ path('game_new') }}" class="btn btn-primary" data-turbo-frame="_top">
          <span class="bi bi-plus-square-fill me-md-1"></span>
          <span class="d-none d-md-inline">{{ 'game.index.button.addGame'|trans }}</span>
        </a>
      </div>

      {# Turboframe to refresh only the main section when sorting the results #}
      <turbo-frame id="main-section">
        {# Before the first card : field to sort on the left, field to filter on the right #}
        <div class="d-flex card-max-auto align-items-center justify-content-between card-max-md-none mx-auto">
          {# Fields to sort on large screen : independant buttons for each possibility + asc/desc button #}
          <div class="d-none d-md-block">
            <div class="input-group" role="group" aria-labelledby="input-group-sorts">
              <label class="input-group-text" id="input-group-sorts">{{ 'form.button.sortBy'|trans }}</label>
              {% for sortKey in displayedSortsKeys %}
                {% set url = _self.get_path(queryParam|query_param_change('sorts', { (sortKey): queryParam.sorts|first })) %}
                <a href="{{ url }}" class="btn btn-outline-secondary app-btn-border-light {{ queryParam.sorts|keys|first == sortKey ? 'active' }}">
                  {{ ('game.index.sort.' ~ sortKey)|trans }}
                </a>
              {% endfor %}
              {% block directionButton %}
                {% set url = _self.get_path(queryParam|query_param_change('sorts', { (queryParam.sorts|keys|first): (queryParam.sorts|first) == 'asc' ? 'desc' : 'asc' })) %}
                <a href="{{ url }}" class="btn btn-outline-secondary app-btn-border-light">
                  <span class="bi bi-arrow-{{ queryParam.sorts|first == 'asc' ? 'up' : 'down' }}"></span>
                </a>
              {% endblock %}
            </div>
          </div>

          {# Fields to sort on small screen : on select with all possibilities + asc/desc button #}
          <div class="d-md-none">
            <div class="input-group" role="group" aria-labelledby="input-group-sorts">
              <label class="input-group-text" id="input-group-sorts" for="input-group-sorts-options">{{ 'form.button.sortBy'|trans }}</label>
              <select class="form-select" id="input-group-sorts-options" {{ stimulus_controller('sort-select') }}>
                {% for sortKey in displayedSortsKeys %}
                  {% set url = _self.get_path(queryParam|query_param_change('sorts', { (sortKey): queryParam.sorts|first })) %}
                  <option value="{{ url }}" {{ (queryParam.sorts|keys|first) == sortKey ? 'selected="selected"' }}>
                    {{ ('game.index.sort.' ~ sortKey)|trans }}
                  </option>
                {% endfor %}
              </select>
              {{ block('directionButton') }}
            </div>
          </div>

          {# Fields to filter : dropdown with checkboxes for all possibilities and apply button #}
          <div class="ms-2">
            <div class="input-group" role="group" aria-labelledby="input-group-filters">
              <label class="input-group-text" id="input-group-filters">{{ 'form.button.filterBy'|trans }}</label>
              {% for filterKey in displayedFiltersKeys %}
                {% set filterId = 'dropdown-filter-' ~ filterKey %}
                <button type="button"
                  class="btn btn-outline-secondary app-btn-border-light dropdown-toggle app-dropdown-left app-dropdown-smooth"
                  data-bs-toggle="dropdown"
                  data-bs-target="#{{ filterId }}"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  aria-haspopup="true">
                  {{ ('game.index.filter.' ~ filterKey)|trans }}
                </button>
                {% set url = _self.get_path(queryParam|query_param_change('filters', { })) %}
                <ul id="{{ filterId }}" class="dropdown-menu dropdown-menu-end" {{ stimulus_controller('filter-apply', { url: url, key: filterKey }) }}>
                  <li>
                    {% if filterKey == 'users' %}
                      {% for user in users|sort((a, b) => a.username <=> b.username) %}
                        <li>
                          <div class="dropdown-item">
                            {% set checked = queryParam.filters.users is not defined or user.id in queryParam.filters.users ? 'checked' : '' %}
                            {% set filterUserId = filterId ~ '-' ~ user.id %}
                            <input class="form-check-input" type="checkbox" value="{{ user.id }}" id="{{ filterUserId }}" {{ checked }} data-filter-apply-target="checkbox" />
                            <label class="form-check-label w-100" for="{{ filterUserId }}">
                              <img src="{{ user.avatarPath|hub_url_generate_root }}"
                                class="rounded-circle img-fluid app-avatar-card"
                                alt="{{ 'aria.avatar'|trans({ name: user.username }) }}" />
                              <span class="ms-1">{{ user.username }}</span>
                            </label>
                          </div>
                        </li>
                      {% endfor %}
                    {% endif %}

                    <div class="dropdown-item text-center">
                      <button class="btn btn-outline-secondary" data-filter-apply-target="button">{{ 'form.button.apply'|trans }}</button>
                    </div>
                  </li>
                </ul>
              {% endfor %}
            </div>
          </div>
        </div>

        {# Include the template to render the card of each game + show more button #}
        {{ include('game/list.html.twig') }}
      </turbo-frame>
    </div>
  </section>
{% endblock %}
