{% extends 'base.html.twig' %}

{% macro get_path(sortField, sortOrder, firstResult) %}
  {{ path(app.current_route, { sortField: sortField, sortOrder: sortOrder, firstResult: firstResult })|raw }}
{% endmacro %}

{% set title = 'game.index.title'|trans %}
{% set sortFieldPossible = ['name', 'releaseYear'] %}
{% set sortOrderButton %}
  <a role="button" class="btn btn-outline-secondary app-btn-border-light" href="{{ _self.get_path(searchParam.sortField, searchParam.sortOrder == 'asc' ? 'desc' : 'asc', 0) }}">
    <span class="bi bi-arrow-{{ searchParam.sortOrder == 'asc' ? 'up' : 'down' }}"></span>
  </a>
{% endset %}

{% block main %}
  <section {{ stimulus_controller('image-load') }}>
    <div class="container">
      {{ block('flash', 'theme/flash.html.twig') }}

      <div class="d-flex card-max-auto align-items-center justify-content-between card-max-md-none mx-auto">
        <div class="d-none d-md-block">
          <div class="input-group" role="group" aria-labelledby="sortFieldButtons">
            <label class="input-group-text" id="sortFieldButtons">{{ 'game.index.button.sortBy'|trans }}</label>
            {% for newSortField in sortFieldPossible %}
              <a role="button"
                class="btn btn-outline-secondary app-btn-border-light {{ searchParam.sortField == newSortField ? 'active' }}"
                href="{{ _self.get_path(newSortField, searchParam.sortOrder, 0) }}">
                {{ ('game.label.' ~ newSortField)|trans({ }, 'validators') }}
              </a>
            {% endfor %}
            {{ sortOrderButton }}
          </div>
        </div>

        <div class="d-md-none">
          <div class="input-group">
            <label class="input-group-text" for="sortFieldOptions">{{ 'game.index.button.sortBy'|trans }}</label>
            <select class="form-select" id="sortFieldOptions" {{ stimulus_controller('sort-select') }}>
              {% for newSortField in sortFieldPossible %}
                <option value="{{ _self.get_path(newSortField, searchParam.sortOrder, 0) }}" {{ searchParam.sortField == newSortField ? 'selected="selected"' }}>
                  {{ ('game.label.' ~ newSortField)|trans({ }, 'validators') }}
                </option>
              {% endfor %}
            </select>
            {{ sortOrderButton }}
          </div>
        </div>
        <div class="ms-2">
          <a href="{{ path('app_game_new') }}" class="btn btn-primary">
            <span class="bi bi-plus-square-fill me-md-1"></span>
            <span class="d-none d-md-inline">{{ 'game.index.button.addGame'|trans }}</span>
          </a>
        </div>
      </div>

      {{ include('game/list.html.twig') }}
    </div>
  </section>
{% endblock %}
