{% extends 'base.html.twig' %}
{% from 'theme/macro.html.twig' import index_buttons %}

{% set title = 'game.index.title'|trans %}

{% block main %}
  <section>
    <div class="container">
      {# Redefine the flashes with the same width as the cards #}
      <div class="mx-auto card-max-auto card-max-md-none">
        {{ block('flash', 'theme/flash.html.twig') }}
      </div>

      {# Button to add a new game #}
      <div class="mx-auto card-max-auto card-max-md-none pb-3">
        <a href="{{ path('game_new') }}" class="btn btn-primary" data-turbo-frame="_top" aria-lebel="{{ 'game.index.button.addGame'|trans }}">
          <span class="bi bi-plus-square-fill me-md-1" aria-hidden="true"></span>
          <span class="d-none d-md-inline">{{ 'game.index.button.addGame'|trans }}</span>
        </a>
      </div>

      {# Turboframe to refresh only the main section when sorting the results #}
      <turbo-frame id="main-section">
        {# Prepare the filters content #}
        {% set filterContentTypeGame %}
          <ul class="p-0 m-0">
            {% for typeGame in enum('App\\Enum\\TypeGameEnum').cases %}
              <li class="dropdown-item">
                {% set checked = queryParam.filters.typeGame is not defined or typeGame.value in queryParam.filters.typeGame ? 'checked' : '' %}
                {% set filtersTypeGameId = 'filters-type-game-' ~ (typeGame.value|lower) %}
                <input class="form-check-input" type="checkbox" value="{{ typeGame.value }}" id="{{ filtersTypeGameId }}" {{ checked }} data-filter-apply-target="checkbox" />
                <label class="form-check-label w-100" for="{{ filtersTypeGameId }}">{{ typeGame|trans }}</label>
              </li>
            {% endfor %}
          </ul>
        {% endset %}
        {% set filterContentUsers %}
          <ul class="p-0 m-0">
            {% for user in users|filter(u => u is not null)|sort((a, b) => a.username <=> b.username) %}
              <li class="dropdown-item">
                {% set checked = queryParam.filters.users is not defined or user.id in queryParam.filters.users ? 'checked' : '' %}
                {% set filtersUserId = 'filters-users-' ~ user.id %}
                <input class="form-check-input" type="checkbox" value="{{ user.id }}" id="{{ filtersUserId }}" {{ checked }} data-filter-apply-target="checkbox" />
                <label class="form-check-label w-100" for="{{ filtersUserId }}">
                  <img src="{{ user.avatarPath|generate_root }}" class="rounded-circle img-fluid app-avatar-card" alt="{{ 'aria.avatar'|trans({ name: user.username }) }}" />
                  <span class="ms-1">{{ user.username }}</span>
                </label>
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {% set filterContentWithoutReview %}
          <ul class="p-0 m-0">
            <li class="dropdown-item">
              {% set checked = queryParam.filters.withoutReview is defined and queryParam.filters.withoutReview is not empty ? 'checked' : '' %}
              {% set filtersWithoutReviewId = 'filters-without-review' %}
              <input class="form-check-input" type="checkbox" value="1" id="{{ filtersWithoutReviewId }}" {{ checked }} data-filter-apply-target="checkbox" />
              <label class="form-check-label w-100" for="{{ filtersWithoutReviewId }}">Afficher les jeux sans avis</label>
            </li>
          </ul>
        {% endset %}
        {# Include the buttons to sort, filter and reset #}
        {{
          index_buttons(
            queryParam,
            'game',
            ['name', 'avgRating', 'totHourSpend', 'minFirstPlay'],
            { typeGame: filterContentTypeGame, users: filterContentUsers, withoutReview: filterContentWithoutReview },
          )
        }}

        {# Include the template to render the card of each game + show more button #}
        {{ include('game/list.html.twig') }}
      </turbo-frame>
    </div>
  </section>
{% endblock %}
