{% extends 'base.html.twig' %}

{% set game_id = app.request.attributes.get('id') %}

{% if game_id == null %}
  {% set title = 'game.new.title.add' %}
  {% set submitButton = 'form.button.add' %}
{% else %}
  {# {% set game_name = form.vars.value.name %} #}
  {# {{ game_name }} #}
  {% set title = 'game.new.title.update' %}
  {% set submitButton = 'form.button.update' %}
{% endif %}

{% block main %}
  {% if game_id != null %}
    <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true" loading="lazy">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-modal-label">
              {% trans %}modal.title.delete{% endtrans %}
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% trans %}game.new.modalDeleteBody{% endtrans %}
          </div>
          <div class="modal-footer">
            <form action="{{ path('app_game_delete', { id: game_id }) }}" method="post">
              <button type="submit" class="btn btn-danger"><span class="bi bi-trash-fill me-1"></span>{% trans %}form.button.delete{% endtrans %}</button>
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% trans %}form.button.cancel{% endtrans %}</button>
              <input type="hidden" name="token-delete" value="{{ csrf_token('delete-game') }}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Main section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          {{ block('flash', 'theme/page.html.twig') }}

          {{ form_start(form, { attr: { action: path(app.current_route, { id: game_id }) } }) }}
          <div class="row" {{ stimulus_controller('search-steam', { url: path(app.current_route, { id: game_id }) }) }}>
            <div class="col form-row">
              {{ form_label(form.steamId, 'game.label.steamId'|trans({ }, 'validators')) }}
              {{ form_help(form.steamId, { help_html: true, help: 'game.help.steamId'|trans({ }, 'validators') }) }}
              <div class="input-group">
                {{ form_widget(form.steamId, label: 'tat') }}
                <a href="#" data-search-steam-target="buttonField" class="btn btn-outline-secondary mt-1">
                  <span class="bi bi-steam me-1"></span>
                  <span class="d-none d-sm-inline">{% trans %}form.button.search{% endtrans %}</span>
                </a>
              </div>
              {{ form_errors(form.steamId) }}
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-8">
              {{ form_row(form.name, { label: 'game.label.name'|trans({ }, 'validators') }) }}
            </div>
            <div class="col-12 col-md-4">
              {{ form_row(form.releaseDate, { label: 'game.label.releaseDate'|trans({ }, 'validators') }) }}
            </div>
          </div>
          <div class="row align-items-end" {{ stimulus_controller('type-price') }}>
            <div class="col-12 col-sm-auto pe-sm-0">
              {{ form_row(form.typePrice, { label: 'game.label.fullPrice'|trans({ }, 'validators'), label_attr: { class: 'radio-inline' } }) }}
            </div>
            <div class="col-12 col-sm ps-sm-0">
              {{ form_row(form.fullPrice, { label: false }) }}
            </div>
          </div>
          {{ form_row(form.developers, { label: 'game.label.developers'|trans({ }, 'validators'), help: 'game.help.commaSeparated'|trans({ }, 'validators') }) }}
          {{ form_row(form.genres, { label: 'game.label.genres'|trans({ }, 'validators'), help: 'game.help.commaSeparated'|trans({ }, 'validators') }) }}
          {{ form_row(form.description, { label: 'game.label.description'|trans({ }, 'validators') }) }}
          {{ form_row(form.imgUrl, { label: 'game.label.imgUrl'|trans({ }, 'validators') }) }}
          <div class="row">
            <div class="col-sm-8 text-sm-start text-center">
              {{ form_widget(form.submit, { label: submitButton|trans }) }}
              <a class="btn btn-outline-secondary ms-2" href="{{ path('app_game_index') }}">Annuler</a>
            </div>
            <div class="col-sm-4 text-sm-end text-center mt-2 mt-sm-0">
              {% if game_id != null %}
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
                  <span class="bi bi-trash-fill me-1"></span>{% trans %}form.button.delete{% endtrans %}
                </button>
              {% endif %}
            </div>
          </div>

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
