{% extends 'base.html.twig' %}

{% if review.id is not null %}
  {% set title = 'review.edit.title.update'|trans({ '{name}': review.game.name }) %}
  {% set submitButton = 'form.button.update' %}
{% else %}
  {% set title = 'review.edit.title.add'|trans %}
  {% set submitButton = 'form.button.add' %}
{% endif %}

{% block main %}
  {# Modal to confirm delete, if in EDIT mode #}
  {% if review.id is not null %}
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true" role="dialog" loading="lazy">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          {# Header with title and dismiss button #}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-modal-label">
              {{ 'modal.title.delete'|trans }}
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'form.button.close'|trans }}"></button>
          </div>

          {# Body with message #}
          <div class="modal-body">
            {{ 'review.edit.modalDeleteBody'|trans({ '{name}': review.game.name })|raw }}
          </div>

          {# Footer with cancel or confirm buttons #}
          <div class="modal-footer">
            <form action="{{ path('review_delete', { id: review.id }) }}" method="post">
              <button type="submit" class="btn btn-danger">
                <span class="bi bi-trash-fill me-1"></span>
                {{ 'form.button.delete'|trans }}
              </button>
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'form.button.cancel'|trans }}</button>
              <input type="hidden" name="_token" value="{{ csrf_token('livror/delete-review') }}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {# Actual content with flashes and form #}
  <section>
    <div class="container">
      <div class="row">
        <div class="ol-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          {# Insert the flashes in the same col size as the form #}
          {{ block('flash', 'theme/flash.html.twig') }}

          {# Back link #}
          <div class="mb-2">
            <a class="link-secondary icon-link icon-link-hover icon-link-left" href="{{ path('review_index') }}">
              <span class="bi bi-arrow-left mb-1" aria-hidden="true"></span>
              {{ 'form.button.backToList'|trans }}
            </a>
          </div>

          {# Form #}
          {{ form_start(form) }}

          {# Select the game for a new review #}
          {% if form.game is defined %}
            {{ form_row(form.game, { label: 'review.label.game' }) }}
          {% endif %}

          {# Display the rating range cursor with custom stimulus controller to display the value #}
          <div class="app-form-row" {{ stimulus_controller('rating-slide', { lazy: false }) }}>
            {{ form_label(form.rating, 'review.label.rating') }}
            {# {{ form_help(form.rating, { help_html: true, help: 'review.help.rating' }) }} #}
            <div class="form-control py-2 d-flex align-items-center">
              <div class="flex-grow-1 mt-1 app-form-range-tick" style="--step:1; --min:0; --max:6">
                {{ form_widget(form.rating, { attr: { 'data-rating-slide-target': 'range' } }) }}
              </div>
              <div class="app-rating-display text-end px-2">
                <span data-rating-slide-target="display" class="fs-5 align-middle">{{ '3.0'|format_number({ fraction_digit: 1 }) }}</span>
                <span class="fa-regular fa-star align-middle"></span>
              </div>
            </div>
            <datalist id="rating-list" data-rating-slide-target="datalist">
              {% for rating in range(0, 6, 0.1) %}
                <option value="{{ rating }}" label="{{ rating|format_number({ fraction_digit: 1 }) }}" />
              {% endfor %}
            </datalist>
            {{ form_errors(form.rating) }}
          </div>

          {# Others fields : hour spend, first play, and comment #}
          <div class="row">
            <div class="col-12 col-md-6">
              {{ form_row(form.hourSpend, { label: 'review.label.hourSpend' }) }}
            </div>
            <div class="col-12 col-md-6">
              {{ form_row(form.firstPlay, { label: 'review.label.firstPlay' }) }}
            </div>
          </div>
          {{ form_row(form.comment, { label: 'review.label.comment' }) }}

          {# Buttons to submit, or open the delete modal #}
          <div class="d-flex justify-content-between">
            {# Left part : submit #}
            <div>
              {{ form_widget(form.submit, { label: submitButton }) }}
            </div>
            {# Right part (if in EDIT mode) : open delete modal #}
            {% if review.id is not null %}
              <div>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
                  <span class="bi bi-trash-fill me-1"></span>
                  {{ 'form.button.delete'|trans }}
                </button>
              </div>
            {% endif %}
          </div>
          {{ form_rest(form) }}

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
