{% extends 'base.html.twig' %}
{% from 'theme/macro.html.twig' import index_buttons %}

{% set title = 'review.index.title'|trans %}

{% block main %}
  <section>
    <div class="container">
      {# Redefine the flashes with the same width as the cards #}
      <div class="mx-auto card-max-auto card-max-md-none">
        {{ block('flash', 'theme/flash.html.twig') }}
      </div>

      {% if cannotAdd %}
        <div class="alert alert-secondary" role="alert">
          {% set url = path('game_new', { backpath: path(app.current_route) }) %}
          {{ 'review.index.flash.cannotAddReview'|trans({ url: url })|raw }}
        </div>
      {% endif %}

      {# Button to add a new review #}
      <div class="mx-auto card-max-auto card-max-md-none text-center mt-2 mb-4">
        <a href="{{ path('review_new') }}" class="btn btn-primary {{ cannotAdd ? 'disabled' }}" data-turbo-frame="_top" aria-label="{{ 'review.index.button.addReview'|trans }}">
          <span class="bi bi-plus-square-fill me-md-1" aria-hidden="true"></span>
          <span class="d-none d-md-inline">{{ 'review.index.button.addReview'|trans }}</span>
        </a>
      </div>

      {# Turboframe to refresh only the main section when sorting the results #}
      <turbo-frame id="main-section">
        {# Include the buttons to sort, filter and reset #}
        {{ index_buttons(queryParam, 'review', ['name', 'rating', 'hourSpend', 'firstPlay'], [], null) }}

        {# Include the template to render the card of each review + show more button #}
        {{ include('review/list.html.twig') }}
      </turbo-frame>
    </div>
  </section>
{% endblock %}
