{% extends 'base.html.twig' %}

{% from 'theme/macro.html.twig' import path_with_query_param %}

{% set title = 'review.index.title'|trans %}
{% set displayedSortsKeys = ['name', 'rating', 'hourSpend', 'firstPlay'] %}
{% set displayedFiltersKeys = [] %}

{% block main %}
  <section>
    <div class="container">
      {# Redefine the flashes with the same width as the cards #}
      <div class="mx-auto card-max-auto card-max-md-none">
        {{ block('flash', 'theme/flash.html.twig') }}
      </div>

      {% if cannotAdd %}
        <div class="alert alert-secondary" role="alert">
          {% set url = path('game_new') %}
          {{ 'review.index.flash.cannotAddReview'|trans({ url: url })|raw }}
        </div>
      {% endif %}

      {# Button to add a new review #}
      <div class="mx-auto card-max-auto card-max-md-none pb-3">
        <a href="{{ path('review_new') }}" class="btn btn-primary {{ cannotAdd ? 'disabled' }}" data-turbo-frame="_top" aria-label="{{ 'review.index.button.addReview'|trans }}">
          <span class="bi bi-plus-square-fill me-md-1" aria-hidden="true"></span>
          <span class="d-none d-md-inline">{{ 'review.index.button.addReview'|trans }}</span>
        </a>
      </div>

      {# Turboframe to refresh only the main section when sorting the results #}
      <turbo-frame id="main-section">
        {# Before the first card : fields to sort and fields to filter #}
        <div class="card-max-auto card-max-md-none mx-auto">
          <div class="d-flex flex-wrap align-items-end justify-content-between gap-2">
            {# Fields to sort : prepare variables + independant buttons (large screen) or select (small screen) for each possibility + asc/desc button #}
            <div class="flex-md-fill">
              {# prepare variables #}
              {% set direction_way = queryParam.sorts|first %}
              {% set new_param = { offset: 0, limit: env.app.default_limit, sorts: { (queryParam.sorts|keys|first): direction_way == 'asc' ? 'desc' : 'asc' } } %}
              {% set direction_url = path_with_query_param(queryParam|clone_with(new_param)) %}
              {% set sorts = [] %}
              {% for sortKey in displayedSortsKeys %}
                {% set new_param = { offset: 0, limit: env.app.default_limit, sorts: { (sortKey): queryParam.sorts|first } } %}
                {% set sort = {
                  key: sortKey,
                  url: path_with_query_param(queryParam|clone_with(new_param)),
                  active: (queryParam.sorts|keys|first) == sortKey,
                  label: ('review.index.sort.' ~ sortKey)|trans,
                } %}
                {% set sorts = sorts|merge([sort]) %}
              {% endfor %}
              <div class="input-group" role="group" aria-labelledby="input-group-sorts">
                <label class="input-group-text" id="input-group-sorts">{{ 'form.button.sortBy'|trans }}</label>
                {# independant buttons (large screen) #}
                {% for sort in sorts %}
                  <a href="{{ sort.url }}" class="btn btn-outline-secondary app-btn-border-light d-none d-md-block {{ sort.active ? 'active' }}" data-turbo-prefetch="false">
                    {{ sort.label }}
                  </a>
                {% endfor %}
                {# select (small screen) #}
                <select class="form-select d-md-none" {{ stimulus_controller('sort-select') }}>
                  {% for sort in sorts %}
                    <option value="{{ sort.url }}" {{ sort.active ? 'selected="selected"' }}>
                      {{ sort.label }}
                    </option>
                  {% endfor %}
                </select>
                {# asc/desc button #}
                <a href="{{ direction_url }}"
                  class="btn btn-outline-secondary app-btn-border-light"
                  aria-label="{{ ('aria.order.' ~ direction_way)|trans }}"
                  data-turbo-prefetch="false">
                  <span class="bi bi-arrow-{{ direction_way == 'asc' ? 'up' : 'down' }}" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            {# Fields to filter : dropdown with checkboxes for all possibilities and apply button #}
            <div class="d-none">
              <div class="input-group" role="group" aria-labelledby="input-group-filters">
                <label class="input-group-text" id="input-group-filters">{{ 'form.button.filterBy'|trans }}</label>
                {% for filterKey in displayedFiltersKeys %}
                  {% set filterId = 'input-group-filters-' ~ filterKey %}
                  <button type="button"
                    class="btn btn-outline-secondary app-btn-border-light dropdown-toggle app-dropdown-left app-dropdown-smooth"
                    data-bs-toggle="dropdown"
                    data-bs-target="#{{ filterId }}"
                    data-bs-auto-close="outside"
                    aria-expanded="false"
                    aria-haspopup="true">
                    {{ ('review.index.filter.' ~ filterKey)|trans }}
                  </button>
                  {% set new_param = { offset: 0, limit: env.app.default_limit, filters: queryParam.filters|filter((value, key) => key != filterKey) } %}
                  {% set url = path_with_query_param(queryParam|clone_with(new_param), true) %}
                  <div id="{{ filterId }}" class="dropdown-menu dropdown-menu-end" {{ stimulus_controller('filter-apply', { url: url, key: filterKey }) }}>
                    {% if filterKey == '' %}

                    {% endif %}
                    <div class="dropdown-item text-center">
                      <button class="btn btn-outline-secondary" data-filter-apply-target="button">{{ 'form.button.apply'|trans }}</button>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div>
              {% set reinit_url = path_with_query_param(queryParam|clone_reset) %}
              <a href="{{ reinit_url }}" class="btn btn-outline-secondary app-btn-border-light" aria-label="{{ 'form.button.reset'|trans }}">
                <span class="bi bi-arrow-counterclockwise" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>

        {# Include the template to render the card of each review + show more button #}
        {{ include('review/list.html.twig') }}
      </turbo-frame>
    </div>
  </section>
{% endblock %}
