{% from 'game/index.html.twig' import get_path %}

{% for review in reviews %}
  {# Each game is displayed on a "card" containing all the data #}
  <div class="card-max-auto card-max-md-none mx-auto my-3 rounded-3 border overflow-hidden">
    {# Card title bar with the the title on one side, and 3 infos on the other side (or on top of each other on small screen) #}
    <div class="row gx-0 bg-primary-subtle border-bottom text-center">
      {# Actual title with the edit button #}
      <div class="col-12 border-bottom col-md-6 border-bottom-md-0 border-end-md card-max-md-auto">
        <div class="d-flex py-2 px-2 ps-md-3 justify-content-center justify-content-md-start align-items-center">
          <h5 class="mb-0 p-0">
            {{ review.game.name }}
            <a class="fs-6 p-0 link-secondary" href="{{ path('game_edit', { id: review.game.id }) }}" data-turbo-frame="_top"><span class="bi bi-pen ps-1"></span></a>
          </h5>
        </div>
      </div>
      {# 3 piece of information : player rating, hour spend, and first play date #}
      <div class="col-12 d-flex align-items-center col-md-auto flex-even-1">
        <div class="flex-even-1 py-1 px-2 py-md-2 border-end text-truncate">
          <span class="fa-solid fa-star fa-sm"></span> {{ review.rating is not empty ? review.rating|format_number({ fraction_digit: 1 }) : '-' }}
        </div>
        <div class="flex-even-1 py-1 px-2 py-md-2 border-end text-truncate">
          <span class="fa-regular fa-hourglass-half fa-sm"></span>
          {{ review.hourSpend is not empty ? review.hourSpend ~ 'h' : '-' }}
        </div>
        <div class="flex-even-1 py-1 px-2 py-md-2 text-truncate">
          <span class="fa-regular fa-calendar-days fa-sm"></span>
          <span class="small">{{ review.firstPlay is not empty ? review.firstPlay|format_datetime('short', 'none') : '-' }}</span>
        </div>
      </div>
    </div>

    {# Card body in one part : the comment #}
    <div class="row py-0 g-0 px-0 bg-body-tertiary">
      <div class="col-12 px-0 col-md">
        <div class="row p-0 m-0 d-md-flex h-auto h-md-100">
          <div class="col-12 p-2 d-flex flex-column">
            <p class="mb-0 flex-grow-1">
              {{ review.comment|default('-') }}
            </p>
            <div class="fst-italic fs-6 fw-light">
              {% set date_add = review.dateAdd|format_datetime('relative_medium', 'none') %}
              {% set date_update = review.dateUpdate|format_datetime('relative_medium', 'none') %}
              {{ 'review.index.card.added'|trans }} : {{ date_add }}
              {% if date_add != date_update %}
                ({{ 'review.index.card.updated'|trans }} : {{ date_update }})
              {% endif %}
              <a class="fs-6 p-0 link-secondary" href="{{ path('review_edit', { id: review.id }) }}" data-turbo-frame="_top"><span class="bi bi-pen ps-1"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% if hasMore %}
  {% set url = get_path(queryParam|query_param_clone_with('offset', queryParam.offset + env.app.default_limit)) %}
  <div class="text-center" {{ stimulus_controller('load-more', { url: url, lazy: env.app.index_autoload }) }}>
    <button class="btn btn-outline-secondary" data-load-more-target="button remove">{{ 'form.button.showMore'|trans }}</button>
    <span class="fs-4 text-muted" data-load-more-target="spinner"></span>
  </div>
{% endif %}
