<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="turbo-refresh-method" content="morph" />
    <title>
      {% block tab_title %}
        {{ title }}
      {% endblock %}- Livror - Darkirby
    </title>
    <link rel="icon" href=" {{ asset('build/favicon.png') }}" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      {{ block('header', 'theme/page.html.twig') }}
    </header>

    <main class="flex-grow-1">
      {% block main %}
        {{ block('flash', 'theme/page.html.twig') }}
      {% endblock %}
    </main>

    <footer>
      {{ block('footer', 'theme/page.html.twig') }}
    </footer>
  </body>
</html>
