{# Macro to lighten the code to generate path with query params #}
{%- macro path_with_query_param(queryParam, anchor = null) -%}
  {{- path(app.current_route, queryParam|to_array|merge({ anchor: anchor }))|raw -}}
{%- endmacro -%}

{# Macro to display the price : type if 0 or null, value with local formatting otherwise #}
{%- macro fmt_full_price(fullPrice) -%}
  {{ fullPrice > 0 ? (fullPrice / 100)|format_currency(env.app.currency, { decimal_always_shown: true, fraction_digit: 2 }) : fullPrice|fmt_type_price(env.app.locale) }}
{%- endmacro -%}

{# Macro to create a backlink #}
{% macro backlink(path) %}
  <div class="mb-2">
    <a class="link-secondary icon-link icon-link-hover icon-link-left" href="{{ path|generate_backpath }}">
      <span class="bi bi-arrow-left mb-1" aria-hidden="true"></span>
      {{ 'form.button.backToList'|trans }}
    </a>
  </div>
{% endmacro %}

{# Macro to prepare the delete modal in the form #}
{% macro form_modal(body, path) %}
  <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true" role="dialog" loading="lazy">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        {# Header with title and dismiss button #}
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete-modal-label">
            {{ 'modal.title.delete'|trans }}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'form.button.close'|trans }}"></button>
        </div>

        {# Body with message #}
        <div class="modal-body">
          {{ body|raw }}
        </div>

        {# Footer with cancel or confirm buttons #}
        <div class="modal-footer">
          <form action="{{ path }}" method="post">
            <button type="submit" class="btn btn-danger">
              <span class="bi bi-trash-fill me-1" aria-hidden="true"></span>
              {{ 'form.button.delete'|trans }}
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'form.button.cancel'|trans }}</button>
            <input type="hidden" name="_token" data-controller="csrf-protection" value="csrf-token" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{# Macro to display the submit button and the delete button if in edit mode #}
{% macro form_buttons(form, isEditMode) %}
  <div class="d-flex justify-content-between">
    {# Left part : submit #}
    <div>
      {{ form_widget(form.submit, { label: isEditMode ? 'form.button.update' : 'form.button.add' }) }}
    </div>
    {# Right part (if in EDIT mode) : open delete modal #}
    {% if isEditMode %}
      <div>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
          <span class="bi bi-trash-fill me-1" aria-hidden="true"></span>
          {{ 'form.button.delete'|trans }}
        </button>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro index_buttons(queryParam, entityKey, displayedSortsKeys, filterContent) %}
  <div class="card-max-auto card-max-md-none mx-auto">
    <div class="d-flex flex-wrap align-items-end justify-content-between gap-2">
      {# Fields to sort : prepare variables + independant buttons (large screen) or select (small screen) for each possibility + asc/desc button #}
      <div class="flex-md-fill {{ displayedSortsKeys is empty ? 'd-none' }}">
        {# prepare variables #}
        {% set sorts = [] %}
        {% for sortKey in displayedSortsKeys %}
          {% set new_param = { offset: 0, limit: env.app.default_limit, sorts: { (sortKey): queryParam.sorts|first } } %}
          {% set sort = {
            key: sortKey,
            url: _self.path_with_query_param(queryParam|clone_with(new_param)),
            active: (queryParam.sorts|keys|first) == sortKey,
            label: (entityKey ~ '.index.sort.' ~ sortKey)|trans,
          } %}
          {% set sorts = sorts|merge([sort]) %}
        {% endfor %}
        <div class="input-group" role="group" aria-labelledby="input-group-sorts">
          <label class="input-group-text" id="input-group-sorts">{{ 'form.button.sortBy'|trans }}</label>
          {# independant buttons (large screen) #}
          {% for sort in sorts %}
            <a href="{{ sort.url }}" class="btn btn-outline-secondary app-btn-border-light d-none d-md-block {{ sort.active ? 'active' }}" data-turbo-prefetch="false">
              {{ sort.label }}
            </a>
          {% endfor %}
          {# select (small screen) #}
          <select class="form-select d-md-none" {{ stimulus_controller('sort-select') }}>
            {% for sort in sorts %}
              <option value="{{ sort.url }}" {{ sort.active ? 'selected="selected"' }}>
                {{ sort.label }}
              </option>
            {% endfor %}
          </select>
          {# asc/desc button #}
          {% set direction_way = queryParam.sorts|first %}
          {% set new_param = { offset: 0, limit: env.app.default_limit, sorts: { (queryParam.sorts|keys|first): direction_way == 'asc' ? 'desc' : 'asc' } } %}
          {% set direction_url = _self.path_with_query_param(queryParam|clone_with(new_param)) %}
          <a href="{{ direction_url }}" class="btn btn-outline-secondary app-btn-border-light" aria-label="{{ ('aria.order.' ~ direction_way)|trans }}" data-turbo-prefetch="false">
            <span class="bi bi-arrow-{{ direction_way == 'asc' ? 'up' : 'down' }}" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      {# Fields to filter : dropdown with checkboxes for all possibilities and apply button #}
      <div class="{{ filterContent|keys is empty ? 'd-none' }}">
        <div class="input-group" role="group" aria-labelledby="input-group-filters">
          <label class="input-group-text" id="input-group-filters">{{ 'form.button.filterBy'|trans }}</label>
          {% for filterKey in filterContent|keys %}
            {% set filtersId = 'filters-' ~ filterKey %}
            <button type="button"
              class="btn btn-outline-secondary app-btn-border-light dropdown-toggle app-dropdown-left app-dropdown-smooth"
              data-bs-toggle="dropdown"
              data-bs-target="#{{ filtersId }}"
              data-bs-auto-close="outside"
              aria-expanded="false"
              aria-haspopup="true">
              {{ (entityKey ~ '.index.filter.' ~ filterKey)|trans }}
            </button>
            {% set new_param = { offset: 0, limit: env.app.default_limit, filters: queryParam.filters|filter((value, key) => key != filterKey) } %}
            {% set url = _self.path_with_query_param(queryParam|clone_with(new_param)) %}
            <div id="{{ filtersId }}" class="dropdown-menu dropdown-menu-end" {{ stimulus_controller('filter-apply', { url: url, key: filterKey }) }}>
              {{ attribute(filterContent, filterKey) }}
              <div class="dropdown-item text-center">
                <button class="btn btn-sm btn-outline-secondary" data-filter-apply-target="button">{{ 'form.button.apply'|trans }}</button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {# Field to reset #}
      <div>
        {% set reinit_url = _self.path_with_query_param(queryParam|clone_reset) %}
        <a href="{{ reinit_url }}" class="btn btn-outline-secondary app-btn-border-light" aria-label="{{ 'form.button.reset'|trans }}">
          <span class="bi bi-arrow-counterclockwise" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{# Macro to display the title of the game in the game and review index #}
{%- macro game_title(game, backpath = null) -%}
  <div class="text-center text-md-start d-flex p-1 ps-md-2 justify-content-center justify-content-md-start align-items-center">
    <h5 class="mb-0 p-1 text-truncate flex-grow-1">
      {{ game.name }}
    </h5>
    {% set url = path('game_edit', { id: game.id, backpath: backpath }) %}
    <a href="{{ url }}" class="btn btn-sm btn-outline-secondary" aria-label="{{ 'game.index.button.editGame'|trans }}" data-turbo-frame="_top">
      <span class="bi bi-pen" aria-hidden="true"></span>
    </a>
  </div>
{%- endmacro -%}

{# Macro to display the body of a review (button to edit, date added, comment) #}
{% macro review_body(review, backpath = null) %}
  {% if review.user.id == app.user.id %}
    <div class="float-end">
      <a class="btn btn-sm btn-outline-secondary"
        href="{{ path('review_edit', { id: review.id, backpath: backpath }) }}"
        aria-label="{{ 'review.index.button.editReview'|trans }}"
        data-turbo-frame="_top">
        <span class="bi bi-pen" aria-hidden="true"></span>
        <span class="d-none d-md-inline">{{ 'review.index.button.editReview'|trans }}</span>
      </a>
    </div>
  {% endif %}
  <span class="small fw-light">
    {% set date_add = review.dateAdd|format_datetime('relative_medium', 'none') %}
    {% set date_update = review.dateUpdate|format_datetime('relative_medium', 'none') %}
    {{ 'review.index.card.added'|trans }} : {{ date_add }}
    {% if date_add != date_update %}
      ({{ 'review.index.card.updated'|trans }} : {{ date_update }})
    {% endif %}
  </span>
  <p class="m-0">
    {% if review.comment is not empty %}
      {{ review.comment }}
    {% else %}
      <span class="fst-italic">{{ 'review.index.card.noComment'|trans }}</span>
    {% endif %}
  </p>
  {# todo : add documents #}
  {# <p class="m-0">
    Documents joints : à venir...
  </p> #}
{% endmacro %}

{# Macro to display and prepare the load more button #}
{% macro more_button(queryParam) %}
  {% set new_param = { offset: queryParam.offset + queryParam.limit, limit: env.app.default_limit } %}
  {% set url = _self.path_with_query_param(queryParam|clone_with(new_param)) %}
  <div class="text-center" {{ stimulus_controller('load-more', { url: url, lazy: env.app.enable_autoload }) }}>
    <button class="btn btn-outline-secondary" data-load-more-target="button remove">{{ 'form.button.showMore'|trans }}</button>
    <span class="fs-4 text-muted" data-load-more-target="spinner"></span>
  </div>
{% endmacro %}
