{# Macro to lighten the code to generate path with query params for the sort #}
{%- macro path_with_query_param(queryParam, raw = false) -%}
  {% set url = path(app.current_route, queryParam|query_param_to_array) %} {{ raw ? url|raw : url }}
{%- endmacro -%}

{%- macro fmt_full_price(fullPrice) -%}
  {{ fullPrice > 0 ? (fullPrice / 100)|format_currency(env.app.currency, { decimal_always_shown: true, fraction_digit: 2 }) : fullPrice|fmt_type_price(env.app.locale) }}
{%- endmacro -%}

{# Macro to display the title of the game in the game and review index #}
{%- macro game_title(game) -%}
  <div class="text-center text-md-start d-flex p-1 ps-md-2 justify-content-center justify-content-md-start align-items-center">
    <h5 class="mb-0 p-1 text-truncate flex-grow-1">
      {{ game.name }}
    </h5>
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('game_edit', { id: game.id }) }}" aria-label="{{ 'game.index.button.editGame'|trans }}" data-turbo-frame="_top">
      <span class="bi bi-pen" aria-hidden="true"></span>
      <span class="d-none d-md-inline">{{ 'game.index.button.editGame'|trans }}</span>
    </a>
  </div>
{%- endmacro -%}

{% macro review_body(review) %}
  <div class="d-flex justify-content-between gap-2">
    <div class="small fw-light">
      {% set date_add = review.dateAdd|format_datetime('relative_medium', 'none') %}
      {% set date_update = review.dateUpdate|format_datetime('relative_medium', 'none') %}
      {{ 'review.index.card.added'|trans }} : {{ date_add }}
      {% if date_add != date_update %}
        ({{ 'review.index.card.updated'|trans }} : {{ date_update }})
      {% endif %}
    </div>
    {% if review.user.id == app.user.id %}
      <div>
        <a class="btn btn-sm btn-outline-secondary"
          href="{{ path('review_edit', { id: review.id }) }}"
          aria-label="{{ 'review.index.button.editReview'|trans }}"
          data-turbo-frame="_top">
          <span class="bi bi-pen" aria-hidden="true"></span>
          <span class="d-none d-md-inline">{{ 'review.index.button.editReview'|trans }}</span>
        </a>
      </div>
    {% endif %}
  </div>
  <p class="m-0">
    Commentaire : {{ review.comment|default('-') }}
  </p>
  {# <p class="m-0">
    Documents joints : à venir...
  </p> #}
{% endmacro %}
